/* Project 1 index css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 100vw;
    padding: 20px;
    background-color: #f0f0f0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    width: fit-content;
    max-width: 1000px;
    margin: 0 auto;
}
nav ul a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main{
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    font-size: 2em;
    margin-bottom: 10px;
}
h3{
    font-size: 1.5em;
    margin: 10px 0;
}
h4{
    font-size: 1.2em;
    margin: 10px 0;
    color:#585858;
}
p{
    margin: 10px 0;
    line-height: 1.5;
}
li{
    margin: 10px 20px;
}
img{
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td{
    border: 1px solid #ddd;
}
th, td{
    padding: 10px;
    text-align: left;
}
#positions-nav {
    background-color: #e0e0e0;
    list-style: none;
    padding: 10px;
    width: fit-content;
}
#positions-nav li a {
    text-decoration: none;
}
#positions-nav li a:hover {
    text-decoration: underline;
}

/* custom classes */
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}